@model Proyecto_Facultad.Models.Leccion
<style>
    .custom-table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 1em;
        '' box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    }

        .custom-table thead {
            background-color: #343a40;
            color: white;
        }

        .custom-table th,
        .custom-table td {
            padding: 12px 15px;
            text-align: left;
        }

        .custom-table tbody tr {
            transition: background-color 0.3s;
        }

            .custom-table tbody tr:hover {
                background-color: #f2f2f2;
            }

        .custom-table a {
            color: #007bff;
            text-decoration: none;
        }

            .custom-table a:hover {
                text-decoration: underline;
            }
</style>

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h2 class="text-primary">Crear lección</h2>
    <form id="leccionForm" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Descripcion" class="control-label"></label>
            <textarea asp-for="Descripcion" class="form-control" style="width: 300px; height: 20px;"></textarea>
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>
        <div class="form-group" style="padding-bottom: 1%;">
            <label asp-for="IdLibro" class="control-label"></label>
            <select asp-for="IdLibro" class="form-control" asp-items="ViewBag.IdLibro" style="width: 299px;">
                <option value="">Seleccione</option>
            </select>
            <span asp-validation-for="IdLibro" class="text-danger"></span>
        </div>

        <div class="form-group text-end">
            <button id="saveButton" type="submit" class="btn btn-sm text-white" style="background-color: #00B6A6; padding: 8px 20px;">
                <i class="bi bi-save me-2"></i> Guardar
            </button>
            <a asp-action="Index" class="btn btn-danger btn-sm" style="padding: 8px 20px;">
                <i class="bi bi-x me-2"></i> Cancelar
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Manejar el envío del formulario
            $('form').submit(function () {
                // Deshabilitar el botón al enviar el formulario
                $('#saveButton').prop('disabled', true);
                // Cambiar el texto del botón para indicar que se está procesando
                $('#saveButton').html('<i class="bi bi-hourglass-split me-2"></i> Guardando...');
            });
        });
    </script>
}
