@model Proyecto_Facultad.Models.Leccion

<div class="container">
    <h2 class="text-primary">Añadir Leccion</h2>
    <form id="leccionForm" asp-action="Create" method="post">
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="NombreLeccion" class="form-label"></label>
                <input asp-for="NombreLeccion" class="form-control" />
                <span asp-validation-for="NombreLeccion" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="IdLibro" class="form-label"></label>
                <input asp-for="IdLibro" class="form-control" />
                <span asp-validation-for="IdLibro" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group d-flex">
            <button type="submit" class="btn btn-primary flex-fill me-2">Guardar</button>
            <a asp-action="Index" asp-controller="leccion" class="btn btn-danger flex-fill">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
}
