@model Proyecto_Facultad.Models.Usuario

@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post" asp-action="Login">
    <div>
        <label for="nombreUsuario">Nombre de Usuario</label>
        <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control" />
        <span asp-validation-for="NombreUsuario" class="text-danger"></span> <!-- Campo vinculado al modelo -->
    </div>
    <div>
        <label for="contrasenaUsuario">Contraseña</label>
        <input type="password" id="contrasenaUsuario" name="contrasenaUsuario" class="form-control" />
        <span asp-validation-for="ContrasenaUsuario" class="text-danger"></span> <!-- Campo vinculado al modelo -->
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<div class="text-danger">
    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
    {
        <p>@error.ErrorMessage</p>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
