@model Proyecto_Facultad.Models.Nivel

<div class="container">
    <h2 class="text-primary">Eliminar Nivel</h2>
</div>
<form id="nivelForm" asp-action="Delete" method="post">
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="NombreNivel" class="form-label"></label>
            <input asp-for="NombreNivel" class="form-control" />
            <span asp-validation-for="NombreNivel" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group d-flex">
        <button type="submit" class="btn btn-primary flex-fill me-2">Eliminar</button>
        <a asp-action="Index" class="btn btn-danger flex-fill">Cancelar</a>
    </div>
</form>

   
