@model Proyecto_Facultad.Models.AvanceMesa

<div class="container">
    <h2 class="text-primary pt-3">Editar Avance de Mesa</h2>
    <form asp-action="Edit">
        <input type="hidden" asp-for="IdAvancemesa" />

        <div class="form-group">
            <label asp-for="IdNivel" class="control-label"></label>
            <select asp-for="IdNivel" class="form-select" asp-items="ViewBag.Niveles"></select>
            <span asp-validation-for="IdNivel" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IdBimestre" class="control-label"></label>
            <select asp-for="IdBimestre" class="form-select" asp-items="ViewBag.Bimestres"></select>
            <span asp-validation-for="IdBimestre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IdLibro" class="control-label"></label>
            <select asp-for="IdLibro" class="form-select" asp-items="ViewBag.Libros"></select>
            <span asp-validation-for="IdLibro" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IdLeccion" class="control-label"></label>
            <select asp-for="IdLeccion" class="form-select" asp-items="ViewBag.Lecciones"></select>
            <span asp-validation-for="IdLeccion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IdMesa" class="control-label"></label>
            <select asp-for="IdMesa" class="form-select" asp-items="ViewBag.Mesas"></select>
            <span asp-validation-for="IdMesa" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-success flex-fill me-2" />
            <a asp-action="Index" asp-controller="AvanceMesa" class="btn btn-danger flex-fill">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
