@model Proyecto_Facultad.Models.Nota

<div class="container">
    <h2 class="text-primary">Agregar nota</h2>
    <form id="sedeForm" asp-action="Create" method="post">
        <div class="row mb-3">       
            <div class="col-md-6">
                <label asp-for="IdAsignacionalumnos" class="form-label"></label>
                <select asp-for="IdAsignacionalumnos" class="form-control" asp-items="ViewBag.IdAlumno">
                    <option value="">Seleccione</option>
                </select>
            </div>
            <div class="col-md-6">
                <label asp-for="IdBimestre" class="form-label"></label>
                <select asp-for="IdBimestre" class="form-control" asp-items="ViewBag.IdBimestre">
                    <option value="">Seleccione</option>
                </select>
            </div>
            <div class="col-md-6">
                <label asp-for="NotaObtenida" class="form-label"></label>
                <input asp-for="NotaObtenida" class="form-control" />
                <span asp-validation-for="NotaObtenida" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group text-end">
            <button id="saveButton" type="submit" class="btn btn-sm text-white" style="background-color: #00B6A6; padding: 8px 20px;">
                <i class="bi bi-save me-2"></i> Guardar
            </button>
            <a asp-action="Index" class="btn btn-danger btn-sm" style="padding: 8px 20px;">
                <i class="bi bi-x me-2"></i> Cancelar
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Manejar el envío del formulario
            $('form').submit(function () {
                // Deshabilitar el botón al enviar el formulario
                $('#saveButton').prop('disabled', true);
                // Cambiar el texto del botón para indicar que se está procesando
                $('#saveButton').html('<i class="bi bi-hourglass-split me-2"></i> Guardando...');
            });
        });
    </script>
}
