@model Proyecto_Facultad.Models.Nota

<div class="container">
    <h2 class="text-primary pt-3">Editar nota</h2>
    <form asp-controller="Nota" asp-action="Edit" method="post">
        <div class="row mb-3">
            <input type="hidden" asp-for="IdNota" />
            <div class="col-md-6">
                <label asp-for="IdAsignacionalumnos" class="form-label"></label>
                <select asp-for="IdAsignacionalumnos" class="form-control" asp-items="ViewBag.IdAsignacionalumnos">
                </select>
            </div>
            <div class="col-md-6">
                <label asp-for="IdBimestre" class="form-label"></label>
                <select asp-for="IdBimestre" class="form-control" asp-items="ViewBag.IdBimestre">
                </select>
            </div>
            <div class="col-md-6">
                <label asp-for="NotaObtenida" class="form-label"></label>
                <input asp-for="NotaObtenida" class="form-control" />
                <span asp-validation-for="NotaObtenida" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div class="form-group text-end">
                <button type="submit" class="btn btn-sm text-white" style="background-color: #00B6A6; padding: 8px 20px;">
                    <i class="bi bi-save me-2"></i> Guardar
                </button>
                <a asp-action="Index" class="btn btn-danger btn-sm" style="padding: 8px 20px;">
                    <i class="bi bi-x me-2"></i> Cancelar
                </a>
            </div>
        </div>

    </form>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}


