@model Proyecto_Facultad.Models.Mesa

<div class="container">
    <h2 class="text-primary">Añadir Mesa</h2>

    <form asp-action="Create" method="post">
       <div class="row mb-3">
             <div class="col-md-6">
                <label asp-for="IdSede" class="form-label"></label>
                <select asp-for="IdSede" class="form-control" asp-items="ViewBag.NombreSede"></select>
                </div>
            </div>

        <div class="row mb-3">
            <div class="col-md-6">
              <label asp-for="IdJornada" class="control-label"></label>
              <input asp-for="IdJornada" class="form-control"/>
              <span asp-validation-for="IdJornada" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" type="date" />
                <span asp-validation-for="FechaInicio" class="Text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-mb-6">
               <label asp-for="FechaFin" class="control-label"></label>
                <input asp-for="FechaFin" class="form-control" type="date" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
             </div>
        </div>

        <div class="form-group d-flex">
            <button type="submit" class="btn btn-primary flex-fill me-2">Guardar</button>
            <a asp-action="Index" class="btn btn-danger flex-fill">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
