@model Proyecto_Facultad.Models.Mesa

<div class="container">
    <h2 class="text-primary pt-3">Editar Mesa</h2>
    <form asp-controller="Mesa" asp-action="Edit" method="post">
        <input type="hidden" asp-for="IdMesa" />
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="FechaInicio" class="form-label"></label>
                <input asp-for="FechaInicio" class="form-control" type="date" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="IdStaff" class="form-label"></label>
                <select asp-for="IdStaff" class="form-control" asp-items="ViewBag.IdStaff"></select>
                <span asp-validation-for="IdStaff" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="IdAlumno" class="form-label"></label>
                <select asp-for="IdAlumno" class="form-control" asp-items="ViewBag.IdAlumno"></select>
                <span asp-validation-for="IdAlumno" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="IdJornada" class="form-label"></label>
                <select asp-for="IdJornada" class="form-control" asp-items="ViewBag.IdJornada"></select>
                <span asp-validation-for="IdJornada" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="IdNivel" class="form-label"></label>
                <select asp-for="IdNivel" class="form-control" asp-items="ViewBag.IdNivel"></select>
                <span asp-validation-for="IdNivel" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="AnioAsignacion" class="form-label"></label>
                <input asp-for="AnioAsignacion" class="form-control" />
                <span asp-validation-for="AnioAsignacion" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div class="form-check">
                    <input asp-for="EstadoMesa" class="form-check-input" type="checkbox" />
                    <label asp-for="EstadoMesa" class="form-check-label"></label>
                    <span asp-validation-for="EstadoMesa" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group d-flex">
            <button type="submit" class="btn btn-success flex-fill me-2">Guardar</button>
            <a asp-action="Index" asp-controller="Mesas" class="btn btn-danger flex-fill">Cancelar</a>
        </div>
    </form>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}