@model Proyecto_Facultad.Models.Capacitacion

<div class="container">
    <h2 class="text-primary">Detalle Capacitación</h2>

    <form asp-action="Details" method="post">
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="FechaCapacitacion" class="form-label"></label>
                <input asp-for="FechaCapacitacion" class="form-control" />
                <span asp-validation-for="FechaCapacitacion" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="IdStaff" class="form-label"></label>
                <select asp-for="IdStaff" class="form-control" asp-items="ViewBag.IdStaff"></select>
            </div>
        </div>

        <div class="form-group d-flex">
            <button type="submit" class="btn btn-primary flex-fill me-2">Detalle</button>
            <a asp-action="Index" class="btn btn-danger flex-fill">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
