<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto_Facultad</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Proyecto_Facultad.styles.css" asp-append-version="true" />
    <style>
        .navbar {
            background-color: #ffffff; /* Blanco */
            color: #ffffff;
        }
        .dropdown-menu {
            background-color: #ffffff; /* Blanco */
        }
        .dropdown-item:hover {
            background-color: #0690c3; /* Azul */
            color: #ffffff; /* Texto blanco */
        }
        .dropdown-item {
            color: #000000; /* Negro */
        }
        .nav-link:hover {
            color: #ffffff; /* Blanco */
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Proyecto_Facultad</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="gestionesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Gestiones administrativas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="gestionesDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Usuario" asp-action="Index">Registro usuario</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Alumno" asp-action="Index">Registro alumno</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Staffs" asp-action="Index">Registro Personal</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Sedes" asp-action="Index">Registro sede</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Jornadums" asp-action="Index">Registro jornada</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Nivels" asp-action="Index">Registro nivel</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Bimestre" asp-action="Index">Registro bimestre</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Libro" asp-action="Index">Registro Libro</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Leccion" asp-action="Index">Registro lección</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Mesas" asp-action="Index">Registro Mesa</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="alumnosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Alumnos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="alumnosDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Nota" asp-action="Index">Asignar nota a un alumno</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="staffDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Staff
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="staffDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Capacitacion" asp-action="Index">Registro capacitacion</a></li>
                            </ul>
                        </li><li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="alumnosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Asistencia
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="alumnosDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="AsistenciaStaffs" asp-action="Index">Añadir asistencia staff</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="AsistenciaAlumnoes" asp-action="Index">Añadir asistencia alumnos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="mesasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Mesa
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="mesasDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="AsignacionAlumno" asp-action="Index">Asignar alumno a mesa</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="AsignacionStaffs" asp-action="Index">Asignar personal a mesa</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="AvanceMesa" asp-action="Index">Avance Mesa</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="MesaDetalle" asp-action="Index">Detalle Mesas</a></li>
                            </ul>
                        </li>
                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="mesasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Reportes
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="mesasDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="ReporteAvanceMesa" asp-action="ReporteAvanceMesa">Avance Mesa</a></li>
                            </ul>
                        </li>
                        </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Proyecto_Facultad - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
