@model Proyecto_Facultad.Models.Jornadum

<div class="container">
    <h2 class="text-primary">Añadir Jornada</h2>
    <form id="jornadaForm" asp-action="Create" method="post">
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="DiaJornada" class="form-label"></label>
                <input asp-for="DiaJornada" class="form-control" />
                <span asp-validation-for="DiaJornada" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="HorarioJornada" class="form-label"></label>
                <input asp-for="HorarioJornada" class="form-control" />
                <span asp-validation-for="HorarioJornada" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <label asp-for="IdSede" class="form-label"></label>
                <input asp-for="IdSede" class="form-control" />
                <span asp-validation-for="IdSede" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group d-flex">
            <button type="submit" class="btn btn-primary flex-fill me-2">Guardar</button>
            <a asp-action="Index" class="btn btn-danger flex-fill">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.querySelector('#jornadaForm').addEventListener('submit', function (event) {
            var diaJornadaInput = document.getElementById('DiaJornada');
            var diaJornadaError = document.querySelector('[asp-validation-for="DiaJornada"]');
            var horarioJornadaInput = document.getElementById('HorarioJornada');
            var horarioJornadaError = document.querySelector('[asp-validation-for="HorarioJornada"]');
            var idSedeInput = document.getElementById('IdSede');
            var idSedeError = document.querySelector('[asp-validation-for="IdSede"]');

            var valid = true;

            if (!diaJornadaInput.value) {
                diaJornadaError.textContent = "El día de la jornada es requerido.";
                valid = false;
            } else {
                diaJornadaError.textContent = "";
            }

            if (!horarioJornadaInput.value) {
                horarioJornadaError.textContent = "El horario de la jornada es requerido.";
                valid = false;
            } else {
                horarioJornadaError.textContent = "";
            }

            if (!idSedeInput.value) {
                idSedeError.textContent = "La sede es requerida.";
                valid = false;
            } else {
                idSedeError.textContent = "";
            }

            if (!valid) {
                event.preventDefault();
            }
        });
    </script>
}

