@model Proyecto_Facultad.Models.Jornadum

<div class="container">
    <h2 class="text-primary">Añadir Jornada</h2>

    <form asp-action="Create" method="post">
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="DiaSemana" class="form-label"></label>
                <input asp-for="DiaSemana" class="form-control" id="diaSemanaInput" />
                <span asp-validation-for="DiaSemana" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="form-group">
                <label asp-for="Horario" class="form-label"></label>
                <select asp-for="Horario" class="form-control" id="horarioSelect">
                    <option value="">Seleccione horario</option>
                    <option value="7:00am">7:00am</option>
                    <option value="9:00am">9:00am</option>
                    <option value="11:00am">11:00am</option>
                    <option value="6:00pm">6:00pm</option>
                </select>
                <span asp-validation-for="Horario" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="IdSede" class="form-label"></label>
                <select asp-for="IdSede" class="form-control" asp-items="ViewBag.IdSede"></select>
            </div>
        </div>

        <div class="form-group d-flex">
            <button type="submit" class="btn btn-primary flex-fill me-2">Guardar</button>
            <a asp-action="Index" class="btn btn-danger flex-fill">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
