@model Proyecto_Facultad.Models.AsistenciaAlumno

<div class="container">
    <h2 class="text-primary pt-3">Añadir Asistencia de Alumno</h2>

    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="IdAsistenciaAlumno" class="form-label"></label>
                <input asp-for="IdAsistenciaAlumno" class="form-control" />
                <span asp-validation-for="IdAsistenciaAlumno" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="IdAsistenciaStaff" class="form-label"></label>
                <select asp-for="IdAsistenciaStaff" class="form-control" asp-items="ViewBag.IdAsistenciaStaff"></select>
                <span asp-validation-for="IdAsistenciaStaff" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="IdAlumno" class="form-label"></label>
                <select asp-for="IdAlumno" class="form-control" asp-items="ViewBag.PrimerNombreAlumno"></select>
                <span asp-validation-for="IdAlumno" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="Ausencia" class="form-label"></label>
                <input asp-for="Ausencia" class="form-control" />
                <span asp-validation-for="Ausencia" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group d-flex">
            <button type="submit" class="btn btn-primary flex-fill me-2">Guardar</button>
            <a asp-action="Index" class="btn btn-danger flex-fill">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

