@model Proyecto_Facultad.Models.AsistenciaAlumno

<div class="container">
    <h2 class="text-primary pt-3">Editar asistencia de alumnos</h2>

    <form asp-action="Edit" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="IdAsistenciaAlumno" />
        <input type="hidden" asp-for="IdAlumno" /> <!-- Añadido para enviar el IdAlumno -->
        <!-- Mostrar el Nombre del Alumno -->
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label">Nombre Alumno</label>
                <input type="text" class="form-control" value="@Model.IdAlumnoNavigation?.NombreCompleto" readonly />
                <span asp-validation-for="IdAlumno" class="text-danger">
                </span>
            </div>
        </div>

        <!-- Campo de Ausencia -->
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="Ausencia" class="form-label">Ausencia</label>
                <select asp-for="Ausencia" class="form-control" required>
                    <option value="">Seleccionar</option>
                    <option value="Presente">Asistió</option>
                    <option value="Inasistencia">Inasistencia</option>
                    <option value="Examen">Examen</option>
                    <option value="Bautismo">Bautizo</option>
                    <option value="Enfermedad">Enfermedad</option>
                </select>
                <span asp-validation-for="Ausencia" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group text-end">
            <button type="submit" class="btn btn-sm text-white" style="background-color: #00B6A6; padding: 8px 20px;">
                <i class="bi bi-save me-2"></i> Guardar
            </button>
            <a asp-action="Index" class="btn btn-danger btn-sm" style="padding: 8px 20px;">
                <i class="bi bi-x me-2"></i> Cancelar
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
