@model IEnumerable<Proyecto_Facultad.Models.Capacitacion>

<div class="container">
    <h2 class="text-primary">Listado de capacitaciones</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Fecha de Capacitación</th>
                <th>Nombre del Maestro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var capacitacion in Model)
            {
                <tr>
                    <td>@capacitacion.FechaCapacitacion?.ToShortDateString()</td>
                    <td>@capacitacion.IdStaffNavigation.PrimerNombreStaff</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@capacitacion.IdCapacitacion" class="btn btn-warning">Editar</a>
                        <a asp-action="Delete" asp-route-id="@capacitacion.IdCapacitacion" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="Create" class="btn btn-primary">Añadir capacitación</a>
</div>
