@model Proyecto_Facultad.Models.AsignacionMaestro

<div class="container">
    <h2 class="text-primary">Asignar personal a una mesa</h2>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }

    <form id="sedeForm" asp-action="Create" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IdStaff" class="form-label"></label>
                    <select asp-for="IdStaff" asp-items="ViewBag.IdStaff" class="form-control" style="width: 100%; height: 38px;">
                        <option value="">Seleccione</option>
                    </select>
                    <span asp-validation-for="IdStaff" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IdMesa" class="form-label"></label>
                    <select asp-for="IdMesa" class="form-control" asp-items="ViewBag.IdMesa" style="width: 100%; height: 38px;">
                        <option value="">Seleccione</option>
                    </select>
                    <span asp-validation-for="IdMesa" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group text-end mt-3">
            <button type="submit" class="btn btn-sm text-white" style="background-color: #00B6A6; padding: 8px 20px;">
                <i class="bi bi-save me-2"></i> Guardar
            </button>
            <a asp-action="Index" class="btn btn-danger btn-sm" style="padding: 8px 20px;">
                <i class="bi bi-x me-2"></i> Cancelar
            </a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

