@model Proyecto_Facultad.Models.Staff

@{
    ViewData["Title"] = "Crear Personal";
}

<h2 class="text-primary">Crear Staff</h2>

<form asp-action="Create" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PrimerNombreStaff" class="form-label"></label>
                <input asp-for="PrimerNombreStaff" class="form-control" />
                <span asp-validation-for="PrimerNombreStaff" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="SegundoNombreStaff" class="form-label"></label>
                <input asp-for="SegundoNombreStaff" class="form-control" />
                <span asp-validation-for="SegundoNombreStaff" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="OtrosNombresStaff" class="form-label"></label>
                <input asp-for="OtrosNombresStaff" class="form-control" />
                <span asp-validation-for="OtrosNombresStaff" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PrimerApellidoStaff" class="form-label"></label>
                <input asp-for="PrimerApellidoStaff" class="form-control" />
                <span asp-validation-for="PrimerApellidoStaff" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="SegundoApellidoStaff" class="form-label"></label>
                <input asp-for="SegundoApellidoStaff" class="form-control" />
                <span asp-validation-for="SegundoApellidoStaff" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ApellidoCasado" class="form-label"></label>
                <input asp-for="ApellidoCasado" class="form-control" />
                <span asp-validation-for="ApellidoCasado" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FechaNacimientoStaff" class="form-label"></label>
                <input asp-for="FechaNacimientoStaff" type="date" class="form-control" />
                <span asp-validation-for="FechaNacimientoStaff" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FechaBautizoStaff" class="form-label"></label>
                <input asp-for="FechaBautizoStaff" type="date" class="form-control" />
                <span asp-validation-for="FechaBautizoStaff" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Direccion" class="form-label"></label>
        <input asp-for="Direccion" class="form-control" />
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Telefono" class="form-label"></label>
        <input asp-for="Telefono" class="form-control" />
        <span asp-validation-for="Telefono" class="text-danger" maxlength="8" minlength="8" pattern="\d{8}"></span>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Dpi" class="form-label"></label>
                <input asp-for="Dpi" class="form-control" maxlength="13" minlength="13" pattern="\d{13}" />
                <span asp-validation-for="Dpi" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Nit" class="form-label"></label>
                <input asp-for="Nit" class="form-control" />
                <span asp-validation-for="Nit" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="EstadoCivil" class="form-label"></label>
                <select asp-for="EstadoCivil" class="form-control">
                    <option value="">Seleccione</option>
                    <option value="Soltero">Soltero</option>
                    <option value="Casado">Casado</option>
                    <option value="Divorciado">Divorciado</option>
                    <option value="Viudo">Viudo</option>
                </select>
                <span asp-validation-for="EstadoCivil" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Genero" class="form-label"></label>
                <select asp-for="Genero" class="form-control">
                    <option value="">Seleccione</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                </select>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NumeroCelula" class="form-label"></label>
        <select asp-for="NumeroCelula" class="form-control">
            <option value="">Seleccione</option>
            <option value="Mujeres">Mujeres(Solteras o Casadas)</option>
            <option value="Familiares">Familiares(Familia y Todo el que Necesita Familia)</option>
            <option value="JovenesFrater">Jovenes Frater(15 a 23 Años)</option>
            <option value="JovenesAdultosFrater">Jovenes Adultos Frater(23 Años en Adelante)</option>
            <option value="MatrimoniosJovenes">Matrimonios Jovenes (0 a 15 Años Casados)</option>
            <option value="MatrimoniosFrater">Matrimonios Frater(15 + Años casados)</option>
            <option value="RDI">RDI(Hombres Solteros o Casados)</option>
        </select>
        <span asp-validation-for="NumeroCelula" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NivelAprobado" class="form-label"></label>
        <select asp-for="NivelAprobado" class="form-control">
            <option value="">Seleccione</option>
            <option value="Primer Nivel">Primer Nivel</option>
            <option value="Segundo Nivel">Segundo Nivel</option>
            <option value="Tercer Nivel">Tercer Nivel</option>
        </select>
        <span asp-validation-for="NivelAprobado" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CodigoFrater" class="form-label"></label>
        <input asp-for="CodigoFrater" class="form-control" />
        <span asp-validation-for="CodigoFrater" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EstatusStaff" class="form-label"></label>
        <div class="form-check">
            <input asp-for="EstatusStaff" type="checkbox" class="form-check-input" />
            <label class="form-check-label">Activo</label>
        </div>
        <span asp-validation-for="EstatusStaff" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IdUsuario" class="form-label"></label>
        <select asp-for="IdUsuario" class="form-control">
            <option value="">Seleccione un Usuario</option>
            @foreach (var usuario in (IEnumerable<SelectListItem>)ViewBag.Usuarios)
            {
                <option value="@usuario.Value">@usuario.Text</option>
            }
        </select>
        <span asp-validation-for="IdUsuario" class="text-danger"></span>
    </div>

    <div class="form-group d-flex pt-3">
        <button type="submit" class="btn btn-primary flex-fill me-2">Guardar</button>
        <a asp-action="Index" class="btn btn-danger flex-fill">Cancelar</a>
    </div>
</form>
@section scripts {
    @* Incluye el script de validación *@
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.querySelector('form').addEventListener('submit', function (event) {
            var fechaNacimientoInput = document.getElementById('fechaNacimiento');
            var fechaNacimientoError = document.getElementById('fechaNacimientoError');
            var fechaBautizoInput = document.getElementById('fechaBautizo');
            var fechaBautizoError = document.getElementById('fechaBautizoError');
            var telefonoInput = document.getElementById('telefono');
            var telefonoError = document.getElementById('telefonoError');

            var fechaNacimiento = new Date(fechaNacimientoInput.value);
            var fechaBautizo = new Date(fechaBautizoInput.value);
            var today = new Date();
            today.setHours(0, 0, 0, 0);

            var valid = true;

            if (fechaNacimiento > today) {
                fechaNacimientoError.textContent = "La fecha de nacimiento no puede ser mayor que la fecha actual.";
                valid = false;
            } else {
                fechaNacimientoError.textContent = "";
            }

            if (fechaBautizo && fechaBautizo > today) {
                fechaBautizoError.textContent = "La fecha de bautizo no puede ser mayor que la fecha actual.";
                valid = false;
            } else {
                fechaBautizoError.textContent = "";
            }

            var telefono = telefonoInput.value;
            if (telefono.length !== 8) {
                telefonoError.textContent = "El teléfono debe tener exactamente 8 dígitos.";
                valid = false;
            } else {
                telefonoError.textContent = "";
            }

            if (!valid) {
                event.preventDefault();
            }
        });
    </script>
}