@model Proyecto_Facultad.Models.Sede

<div class="container">
    <h2 class="text-primary">Crear sede</h2>

    <form id="sedeForm" asp-action="Create" method="post">
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="NombreSede" class="form-label"></label>
                <input asp-for="NombreSede" class="form-control"style="width: 400px; height: 38px;" />
                <span asp-validation-for="NombreSede" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="Pais" class="form-label"></label>
                <input asp-for="Pais" class="form-control" style="width: 400px; height: 38px;" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group text-end">
            <button type="submit" class="btn btn-sm text-white" style="background-color: #00B6A6; padding: 8px 20px;">
                <i class="bi bi-save me-2"></i> Guardar
            </button>
            <a asp-action="Index" class="btn btn-danger btn-sm" style="padding: 8px 20px;">
                <i class="bi bi-x me-2"></i> Cancelar
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.querySelector('form').addEventListener('submit', function (event)
    </script>
}