@model Proyecto_Facultad.Models.Sede

<div class="container">

    <h2 class="text-primary pt-3">Editar Sede</h2>
    <form asp-controller="Sedes" asp-action="Edit" method="post">
        <input type="hidden" asp-for="IdSede" />

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="NombreSede" class="form-label"></label>
                <input asp-for="NombreSede" class="form-control" />
                <span asp-validation-for="NombreSede" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="Pais" class="form-label"></label>
                <input asp-for="Pais" class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group d-flex">
            <button type="submit" class="btn btn-success flex-fill me-2">Guardar</button>
            <a asp-action="Index" asp-controller="Sedes" class="btn btn-danger flex-fill">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
