@model Proyecto_Facultad.Models.Usuario

<div class="container">
    <h3>¿Está seguro de que desea eliminar este usuario?</h3>
    <div>
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.NombreUsuario)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.IdRol)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.IdRol)
            </dd>
        </dl>
        <form asp-action="DeleteConfirmed" method="post">
            <input type="hidden" asp-for="IdUsuario" />
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
