@model Proyecto_Facultad.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<div class="container">
    <br />
    <h2 class="text-primary">Editar suario</h2>
    <form id="usuarioForm" asp-action="Edit" method="post">
        <input type="hidden" asp-for ="IdUsuario"/>
        <div class="form-group">
            <label asp-for="NombreUsuario" class="control-label"></label>
            <input asp-for="NombreUsuario" class="form-control" />
            <span asp-validation-for="NombreUsuario" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ContrasenaUsuario" class="control-label"></label>
            <input asp-for="ContrasenaUsuario" type="password" class="form-control" />
            <span asp-validation-for="ContrasenaUsuario" class="text-danger"></span>
        </div>
        <div class="form-group" style="padding-bottom: 1%;">
            <label asp-for="IdRol" class="control-label"></label>
            <select asp-for="IdRol" class="form-control" asp-items="ViewBag.Roles"></select>
            <span asp-validation-for="IdRol" class="text-danger"></span>
        </div>
        <div class="form-group" style="padding-bottom: 2%;">
            <label asp-for="EstadoUsuario" class="control-label"></label>
            <input asp-for="EstadoUsuario" type="checkbox" />
            <span asp-validation-for="EstadoUsuario" class="text-danger"></span>
        </div>
        <div class="form-group text-end">
            <button type="submit" class="btn btn-sm text-white" style="background-color: #00B6A6; padding: 8px 20px;">
                <i class="bi bi-save me-2"></i> Guardar
            </button>
            <a asp-action="Index" class="btn btn-danger btn-sm" style="padding: 8px 18px;">
                <i class="bi bi-x me-2"></i> Cancelar
            </a>
        </div>

    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
