@model Proyecto_Facultad.Models.AsignacionAlumno

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Asignacion Alumno a una mesa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
         <form asp-action="Create">
        <div class="form-group">
            <label asp-for="IdAlumno" class="control-label"></label>
            <select asp-for="IdAlumno" asp-items="ViewBag.IdAlumno" class="form-control"></select>
            <span asp-validation-for="IdAlumno" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IdMesa" class="control-label"></label>
            <select asp-for="IdMesa" asp-items="ViewBag.IdMesa" class="form-control"></select>
            <span asp-validation-for="IdMesa" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Crear" class="btn btn-primary" />
        </div>
    </form>
    </div>
</div>

<div>
            <a asp-action="Index" asp-controller="leccion" class="btn btn-danger flex-fill">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
