@model Proyecto_Facultad.Models.AsignacionAlumno

<div class="container">
    <h2 class="text-primary">Asignar alumno a una mesa</h2>

    <form id="sedeForm" asp-action="Create" method="post">
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="IdAlumno" class="form-label"></label>
                <select asp-for="IdAlumno" class="form-control" asp-items="ViewBag.IdAlumno">
                </select>
                <span asp-validation-for="IdAlumno" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="IdMesa" class="form-label"></label>
                <select asp-for="IdMesa" class="form-control" asp-items="ViewBag.IdMesa">
                </select>
                <span asp-validation-for="IdMesa" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group d-flex">
            <button type="submit" class="btn btn-primary flex-fill me-2">Guardar</button>
            <a asp-action="Index" class="btn btn-danger flex-fill">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

