@model Proyecto_Facultad.Models.AsignacionAlumno

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AsignacionAlumno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAlumnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAlumnoNavigation.PrimerNombreAlumno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMesaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMesaNavigation.IdMesa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAsignacionalumnos">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
