@model Proyecto_Facultad.Models.AsignacionAlumno

@{
    ViewData["Title"] = "Edit Asignación de Alumno";
}

<h1>Editar asignación de alumno a mesa</h1>
<hr />
@if (!ViewData.ModelState.IsValid)

{
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>
}
<div class="container">
    <div class="col-md-12">
        <form id="asignacionForm" asp-action="Edit" method="post">
            <input type="hidden" asp-for="IdAsignacionalumnos" />

            <div class="row mb-3">
                <!-- IdAlumno -->
                <div class="col-md-6">
                    <label asp-for="IdAlumno" class="control-label"></label>
                    <select asp-for="IdAlumno" class="form-control" asp-items="ViewBag.IdAlumno"></select>
                    <span asp-validation-for="IdAlumno" class="text-danger"></span>
                </div>

                <!-- IdMesa -->
                <div class="col-md-6">
                    <label asp-for="IdMesa" class="control-label"></label>
                    <select asp-for="IdMesa" class="form-control" asp-items="ViewBag.IdMesa" style="width: 100%;"></select>
                    <span asp-validation-for="IdMesa" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group text-end">
                <button id="saveButton" type="submit" class="btn btn-sm text-white" style="background-color: #00B6A6; padding: 8px 20px;">
                    <i class="bi bi-save me-2"></i> Guardar
                </button>
                <a asp-action="Index" class="btn btn-danger btn-sm" style="padding: 8px 20px;">
                    <i class="bi bi-x me-2"></i> Cancelar
                </a>
            </div>
        </form>
    </div>
</div>

@* <div class="container">
    <div class="col-md-6">
            <form id="asignacionForm" asp-action="Edit" method="post">
            <input type="hidden" asp-for="IdAsignacionalumnos" />

            <div class="row mb-3">
                <div class="col-md-6">
                <label asp-for="IdAlumno" class="control-label"></label>
                <select asp-for="IdAlumno" class="form-control" asp-items="ViewBag.IdAlumno"></select>
                <span asp-validation-for="IdAlumno" class="text-danger"></span>
            </div>
            </div>

            <div class="col-md-6">
                <label asp-for="IdMesa" class="control-label"></label>
                <select asp-for="IdMesa" class="form-control" asp-items="ViewBag.IdMesa"></select>
                <span asp-validation-for="IdMesa" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group d-flex">
                <button type="submit" class="btn btn-primary flex-fill me-2">Actualizar</button>
                <a asp-action="Index" class="btn btn-danger flex-fill">Cancelar</a>
            </div>
        </form>
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Manejar el envío del formulario
            $('form').submit(function () {
                // Deshabilitar el botón al enviar el formulario
                $('#saveButton').prop('disabled', true);
                // Cambiar el texto del botón para indicar que se está procesando
                $('#saveButton').html('<i class="bi bi-hourglass-split me-2"></i> Guardando...');
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
